@font-face {
  font-family: "unifont";
  src: url("./assets/unifont.otf");
}

#editor {
  height: 100%;
  width: 30%;
  right: 0px;
}

#logo {
  font-size: 30px;
  color:red;
}

#preview {
  font-family: "unifont", sans-serif;
}
